body{
    background-color: black;
    
}
h1{
    background-color:brown;
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}